link(rel='stylesheet', href='Vendor/CSS/bootstrap.min.css')
link(rel='stylesheet', href='Project/CSS/style.css')
link(rel='stylesheet', href='Vendor/Fonts/icomoon.css')

link(href='http://fonts.googleapis.com/css?family=Exo+2:400,700,300', rel='stylesheet', type='text/css')