doctype html

head
include Shared/css.jade
script(src='/socket.io/socket.io.js')
script.
    var socket = io.connect('http://localhost:3000');
    socket.on('broadcastStatus', function (data) {
        $('#uptime').text(data.Uptime);
        $('#requestsPerMinute').text(data.RequestsPerMinute);
    });

body
h1 #{APIName}
div.row
    div.statPanel.col-xs-2.col-sm-2.col-md-2.col-lg-2
        div.statPanelHeader
            h1.statPanelTitle Status
        div.statPanelBody
            div.row
                div.col-lg-2
                    span.statPanelIcon.icon-atom
                div.col-lg-10
                    h1 Alive
    div.statPanel.col-xs-2.col-sm-2.col-md-2.col-lg-2
        div.statPanelHeader
            h1.statPanelTitle Uptime
        div.statPanelBody
            div.row
                div.col-lg-2
                    span.statPanelIcon.icon-hourglass
                div.col-lg-10
                    h1#uptime
    div.statPanel.col-xs-2.col-sm-2.col-md-2.col-lg-2
        div.statPanelHeader
            h1.statPanelTitle Response Time
        div.statPanelBody
            div.row
                div.col-lg-2
                    span.statPanelIcon.icon-chronometer
                div.col-lg-10
                    h1 23ms
    div.statPanel.col-xs-2.col-sm-2.col-md-2.col-lg-2
        div.statPanelHeader
            h1.statPanelTitle Requests per Minute
        div.statPanelBody
            div.row
                div.col-lg-2
                    span.statPanelIcon.icon-radio
                div.col-lg-10
                    h1#requestsPerMinute

include Shared/scripts.jade